@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /* ### Primary */
  --color-orange: hsl(26, 100%, 55%);
  --color-pale-orange: hsl(25, 100%, 94%);

  /* ### Neutral */
  --color-very-dark-blue: hsl(220, 13%, 13%);
  --color-dark-grayish-blue: hsl(219, 9%, 45%);
  --color-grayish-blue: hsl(220, 14%, 75%);
  --color-light-grayish-blue: hsl(223, 64%, 98%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  font-family: "Kumbh Sans", sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  margin: 0 auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 1rem 0rem;
}

.header__nav {
  display: flex;
  align-items: center;
  position: relative;
  gap: 3rem;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-link {
  position: relative;
}

.nav-link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 5px;
  left: 0;
  bottom: -40px;
  background-color: var(--color-orange);
  transition: all 0.2s ease-in-out;
}

.nav-link:hover:after {
  width: 100%;
}

.btn-mobile-close {
  display: none;
}

.btn-mobile {
  display: none;
}

.header__menu > li > a {
  color: black;
  color: var(--color-dark-grayish-blue);
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart__wrapper {
  width: 4rem;
  height: 4rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.quantity-label {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.1rem 0.5rem;
  border-radius: 35%;
  text-align: center;
  background-color: var(--color-orange);
}

.cart-stats {
  position: absolute;
  top: 4rem;
  right: 0;
  width: 350px;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  display: none;
  box-shadow: 0px 20px 30px 10px rgba(0, 0, 0, 0.22);
}

.cart-stats header {
  width: 100%;
  height: fit-content;
  padding: 1.5rem 1rem;
  font-weight: 700;
  border-bottom: 1px solid black;
}

.cart-stats-body {
  min-height: 10rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.emptyMessage {
  align-self: center;
  display: flex;
}

.item {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.item-name {
  display: flex;
  flex-direction: column;
}

.item-name span {
  display: flex;
  gap: 0.5rem;
}

.btn-checkout {
  height: 3rem;
  font-size: 1rem;
  background-color: var(--color-orange);
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}

.cart-stats-body.filled .emptyMessage {
  display: none;
}

.cart-stats-body.filled .btn-checkout,
.cart-stats-body.filled .item {
  display: flex;
}

.btn-delete {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem;
}

.cart-stats.active {
  display: flex;
  flex-direction: column;
}

.profile {
  width: 4rem;
  height: 4rem;
  background-image: url(../images/image-avatar.png);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.product-main-page {
  margin: 0 auto;
  width: 75%;
  height: 100%;
  display: flex;
  padding: 1rem;
}

.right,
.left {
  width: 100%;
  height: 100%;
  display: flex;
}

.left {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.main-image {
  width: 450px;
  height: 450px;
  object-fit: cover;
  cursor: pointer;
}

.image-wrapper {
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.thumbnail {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
  overflow: hidden;
  object-fit: contain;
}

.thumbnail.selected {
  outline: 2px solid var(--color-orange);
}

.thumbnail.selected {
  filter: opacity(0.4);
}

.thumbnail:hover:not(.selected) {
  filter: opacity(0.6);
}

.main-image,
.thumbnail {
  border-radius: 20px;
}

.slider.active {
  display: flex;
}

.slider {
  align-self: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.764);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.slider-wrapper {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.btn-close-slide {
  background-color: transparent;
  border: none;
  align-self: flex-end;
  cursor: pointer;
}

.btn-close-slide:hover > svg {
  fill: var(--color-orange);
}

.slide-container {
  position: relative;
  width: 450px;
  height: 450px;
}

.control {
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
}

.control svg {
  pointer-events: none;
}

.btn-previous {
  top: 50%;
  left: -10%;
}

.btn-next {
  top: 50%;
  right: -10%;
}

.slide-gallery {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.main-image-slide {
  width: 450px;
  height: 450px;
  border-radius: 20px;
  object-fit: cover;
}

.image-wrapper-slide {
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.thumbnail-slide {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  overflow: hidden;
  object-fit: contain;
  border-radius: 20px;
}

.thumbnail-slide.selected {
  outline: 2px solid var(--color-orange);
  filter: contrast(0.6);
}

.thumbnail-slide:hover:not(.selected) {
  filter: contrast(0.6);
}

.right {
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-left: 1rem;
}

.subtitle {
  color: var(--color-orange);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-size: 1rem;
}

.title {
  font-size: 3.25rem;
}

.desc {
  width: 50ch;
  font-size: 16px;
  color: var(--color-dark-grayish-blue);
}

.price-wrapper {
  display: flex;
  flex-direction: column;
}

.price {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.price strong {
  font-size: 2.5rem;
}

.price .percent {
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  background-color: var(--color-pale-orange);
}

.percent-number {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-orange);
}

.old-price {
  color: var(--color-grayish-blue);
  font-weight: 700;
  text-decoration: line-through;
}

.button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.add-to-cart {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 55%;
  height: 3.5rem;
  background-color: var(--color-orange) !important;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
  box-shadow: 0px 20px 50px 5px #ff7d1a7b;
}

.add-to-cart:hover {
  opacity: 0.5;
}

.quantity-button-wrapper {
  width: 30%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-light-grayish-blue);
  border-radius: 10px;
}

.quantity-button-wrapper button {
  width: 35%;
  height: 100%;
  cursor: pointer;
}

.quantity-button-wrapper button img {
  pointer-events: none;
}

#quantityItemDisplay {
  font-weight: 700;
}

@media (max-width: 1100px) {
  .header {
    width: 100%;
  }

  .header__menu {
    display: none;
  }

  .header__nav {
    flex-direction: row-reverse;
    gap: 1rem;
  }

  .btn-mobile {
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
  }

  .header__nav.active .header__menu {
    position: absolute;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    align-items: flex-start;
    height: 100vh;
  }

  .header__menu > li {
    font-weight: 700;
    padding-left: 0;
  }

  .header__nav.active .btn-mobile-close {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
  }

  .header__profile {
    gap: 0;
  }

  .cart-stats {
    top: 5rem;
    right: -60px;
  }

  .product-main-page {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }

  .main-image {
    width: 350px;
    height: 350px;
    pointer-events: none;
  }

  .image-wrapper {
    display: none;
  }

  .right {
    gap: 1rem;
    padding-left: 0;
  }

  .title {
    font-size: 2rem;
  }

  .desc {
    width: fit-content;
  }

  .button-wrapper {
    flex-direction: column;
  }

  .quantity-button-wrapper {
    width: 100%;
  }

  .add-to-cart {
    width: 100%;
  }
}
